.marginTopPage {
  margin-top: 140px !important;
}

.categoryPicBox {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: center !important;
  height: 50px !important;
}

.categoryPicBox:hover .titleCategory {
  color: dodgerblue !important;
  font-weight: bolder !important;
}

.titleCategory {
  font-size: 1rem !important;
  color: #3d3d3d !important;
  margin-bottom: 0px !important;
}

.linkItemCategory {
  text-decoration: none !important;
}

.categoryPic {
  width: auto !important;
  height: 70% !important;
  margin-left: 10px !important;
}

.categoryPic-health {
  height: 100% !important;
  width: auto !important;
}

.categoryPic {
  height: 50% !important;
  width: auto !important;
  margin-left: 10px !important;
}

.categoryPic-chair {
  height: 40% !important;
  width: auto !important;
  margin-left: 10px !important;
}

.boxSide {
  box-shadow: 0px 6px 5px 2px #e7e7e7;
}

.boxSide:last-child {
  border-radius: 0px 0px 0px 25px !important;
}

.boxSide:first-child {
  border-radius: 15px 0px 0px 0px !important;
}

.BoxBanner {
  border-radius: 30px !important;
}

.digitalBoxBanner {
  border-radius: 30px !important;
  box-shadow: 0px 1px 5px 2px  #c5c5c5;
}

.digitalBanner {
  width: 100% !important;
  height: 300px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.picCategoryBanner {
  max-width: 90% !important;
}

.borderBanner {
  border-radius: 30px !important;
  box-shadow: 0px 1px 5px 2px #c5c5c5;
}

.digital-bg {
  background: #000046;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #1CB5E0, #000046);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.homekitchen-bg {
  background: #ddd6f3;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #faaca8, #ddd6f3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sport-bg {
  background: #56ab2f;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #a8e063, #56ab2f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.health-bg {
  background: #f857a6;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ff5858, #f857a6);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.supermarket-bg {
  background: #EB3349;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #F45C43, #EB3349);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.film-bg {
  background: #DA22FF;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #9733EE, #DA22FF);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.poshak-bg {
  background: #4CB8C4;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #3CD3AD, #4CB8C4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.lavazemtahrir-bg {
  background: #F09819;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #EDDE5D, #F09819);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.abzar-bg {
  background: #EFEFBB;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #D4D3DD, #EFEFBB);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*# sourceMappingURL=ContentAllCategoriesPage.css.map */