@mixin owlCarouselButton {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    color: black !important;
    background-color: rgba(161, 161, 161, 0.274) !important;
    width: 50px !important;
    height: 50px !important;
    border: none !important;
    border-radius: 100% !important;
    outline: none !important;
}

@mixin contentFlex {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.owl-carousel {
    height: auto !important;
}

.owl-theme{
    width: 100% !important;
}

.specialProductCard {
    @include contentFlex();
    width: 25vw !important;
    height: 100% !important;
    border: none !important;
    border-radius: 6px !important;
    min-height: 300px !important;
    min-width: 160px !important;
    max-width: 220px !important;
}

.specialboxBanner {
    width: 400px !important;
    height: 200px !important;
    margin-right: 20px !important;
    padding-left: 10px !important;
}

.containerCategoriesSlider {
    min-width: 80%;
    max-height: 200px !important;
    @include contentFlex();
}


.imageBanner {
    margin-right: 20px !important;
    width: 100px !important;
}

.title {
    margin-bottom: 20px !important;
    padding: 20px !important;
}
.imgCategories {
    width: 50px !important;
    height: auto !important;
    border: none !important;
}

.owl-prev {
    left: 0 !important;
    @include owlCarouselButton();
}

.owl-next {
    right: 0 !important;
    @include owlCarouselButton();
}
