.purchaseBox{
    padding-bottom: 20px !important;
    background-color: white !important;
    box-shadow: 1px 1px 1px 2px rgb(235, 235, 235);
    width: 70vw !important;
    height: 180px !important;
    border-radius: 4px !important;
}

@media (max-width: 575.98px) {
    .purchaseBox{   
        width: 100vw !important;
    }
}
.purchaseImageBox{
    max-width: 140px !important;
    height: auto !important;
    padding-top: 15px !important;
}
.purchaseImage{
    width: 100% !important;
    max-height: auto !important;
}

.purchaseName a{
    text-decoration: none !important;
    color: rgb(61, 61, 61);
}
.purchaseName p{
    margin-bottom: 5px !important;
}

.purchaseName a:hover{
    font-weight: bolder !important;
    color: forestgreen;
}

#deleteProduct , #increaseCount , #decreaseCount {
    cursor: pointer !important;
    color: rgb(165, 165, 165) !important;
}
#deleteProduct:hover ,#decreaseCount:hover{
    color: rgb(209, 3, 3) !important;
    transform: scale(1.5) !important;
}

#increaseCount:hover{
    color: darkgreen !important;
    transform: scale(1.5) !important;
}


#productPrice{
    margin-bottom: 0px !important;
    margin-right: 10px !important;
}

.borderActions{
    // width: 140px !important;
    height: 25px !important;
    background-color: rgb(243, 243, 243) !important;
    border-radius: 20px !important;
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    // margin-left: 10px !important;
    box-shadow: 1px 1px 2px 1px rgb(231, 231, 231);
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.titleOrders{
    font-size: 20px !important;
    font-weight: bolder !important;
}