.contentSupermarketBanner{
    height:280px !important;
    border-radius: 20px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

@media (max-width: 575.98px) {
    .contentSupermarketBanner{
        height:175px !important;
    }
     
}

.supermarketBannerPic{
   background-image: url('../../assets/images/supermarketBanner.png');
   background-repeat: no-repeat;
   max-width:20% !important;
   height:250px !important;
    
}


.digitalBanner {
    width: 100%!important;
    height: 150px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    
}

.picCategoryBanner {
    max-width: 90% !important;
}

.lableOffSupermarket{
    width:200px ;
    height: 80px ;
    border-radius: 25px 75px 26px 75px;
    background-color: red;
}

.titleSupermarketBanner{
    font-size:40px !important;
}

