.categoryPicBox {
    display: flex !important;
    justify-content: flex-start !important;
    align-items: center !important;
    height: 50px !important;
}

.titleCategory {
    font-size: 1rem !important;
}

.categoryPic {
    width: auto !important;
    height: 70% !important;
    margin-left: 10px !important;
}

.categoryPic-health {
    height: 100% !important;
    width: auto !important;
    // margin-right: 20px !important ;
}

.categoryPic-digital {
    height: 20% !important;
    width: auto !important;
    margin-left: 10px !important;
}

.categoryPic-chair {
    height: 40% !important;
    width: auto !important;
    margin-left: 10px !important;
}

// ------ Banners -------

.BoxBanner {
    border-radius: 30px !important;
}

.digitalBanner {
    width: 100%!important;
    height: 300px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.picCategoryBanner {
    max-width: 90% !important;
}

.borderBanner {
    border-radius: 30px !important;
}

.digital-bg {
    background: #000046;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #1CB5E0, #000046);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #1CB5E0, #000046);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.homekitchen-bg {
    background: #ddd6f3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #faaca8, #ddd6f3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.sport-bg {
    background: #56ab2f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #a8e063, #56ab2f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.health-bg {
    background: #f857a6;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ff5858, #f857a6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ff5858, #f857a6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.supermarket-bg{
    background: #EB3349;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F45C43, #EB3349);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F45C43, #EB3349); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.film-bg{
    background: #DA22FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.poshak-bg{
    background: #4CB8C4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #3CD3AD, #4CB8C4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #3CD3AD, #4CB8C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.lavazemtahrir-bg{
    background: #F09819;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.abzar-bg{
    background: #EFEFBB;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #D4D3DD, #EFEFBB);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #D4D3DD, #EFEFBB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
